/**
 * Maaike's theme for reveal.js.
 *
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
//@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url('../../lib/font/SourceSansPro-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Sans Pro Semibold';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url('../../lib/font/SourceSansPro-Regular.woff2') format('woff2');
}

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #0C3D4C;

$mainFont: 'Source Sans Pro', sans-serif;
$mainColor: #EFEFEF;
$linkColor: #5cb9d5;
$linkColorHover: lighten( $linkColor, 20% );
$headingFont: 'Source Sans Pro Semibold', sans-serif;
$headingTextShadow: none;
$heading1TextShadow: none;
$headingLineHeight: 1.1em;
$headingMargin: 0 0 34px 0;
//$headingLetterSpacing: -0.03em;
$headingTextTransform: none;
$selectionBackgroundColor: #5cb9d5;
$mainFontSize: 36px;


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal .slides li, .reveal .slides p {
  margin-bottom: 0.4em;
}

.reveal .slides .left {
  text-align: left;
}

.reveal .slides .right {
  text-align: right;
}

.reveal .slides .textshadow * {
  text-shadow:
  -2px -2px 5px black,
  -2px 2px 5px black,
  2px -2px 5px black,
  2px 2px 5px black;
}


.reveal .slides {
  letter-spacing: 0;
}